* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fb;
}

button {
  cursor: pointer;
}

.title-page {
  height: 700px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid black;
}

.title-page h1 {
  font-family: "Karla", sans-serif;
  color: #293264;
  font-size: 2rem;
}

.title-page p {
  font-family: "Inter", sans-serif;
}

.title-page button {
  padding: 1.5rem 3rem;
  border: none;
  background-color: #293264;
  margin-top: 1.9em;
  color: #f5f7fb;
  border-radius: 1em;
}

.blob {
  position: absolute;
}

.blob-top {
  top: 0;
  right: 0;
}

.blob-bottom {
  bottom: 0;
  left: 0;
}

/* Questions */

.questions-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 2.5em;
}

.question {
  border-bottom: 1px solid grey;
  margin: 1em auto;
  width: 80%;
}

.question button {
  margin: 1em .75em;
  border-radius: 8px;
  border: 1px solid #293264;
  padding: 3px 6px;
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
}

.question-text {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  margin-bottom: .75em;
}
